<a href="https://colab.research.google.com/github/ashishbajpaicern/Automation/blob/main/heart_disease_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
heart_data = pd.read_csv("/content/heart_disease_data.csv")

In [ ]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
X = heart_data.drop(columns = "target",axis = 1)
Y = heart_data['target']

In [ ]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [ ]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify = Y,random_state = 2)

In [ ]:
print(X_train)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
61    54    1   1       108   309    0        1      156      0      0.0
238   77    1   0       125   304    0        0      162      1      0.0
160   56    1   1       120   240    0        1      169      0      0.0
158   58    1   1       125   220    0        1      144      0      0.4
289   55    0   0       128   205    0        2      130      1      2.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
100   42    1   3       148   244    0        0      178      0      0.8
49    53    0   0       138   234    0        0      160      0      0.0
300   68    1   0       144   193    1        1      141      0      3.4
194   60    1   2       140   185    0        0      155      0      3.0
131   49    0   1       134   271    0        1      162      0      0.0

     slope  ca  thal
61       2   0     3
238      2   3     2
160      0   0     2
158      1   4     3
289      1   1     3
..     ...  ..   ...
100      2   2     2
49       2   0     2
300      1   2     3
194      1   0     2
131      1   0     2

[242 rows x 13 columns]

In [ ]:
print(X.shape, X_test.shape, X_train.shape)

(303, 13) (61, 13) (242, 13)

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
print(X_train)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
61    54    1   1       108   309    0        1      156      0      0.0
238   77    1   0       125   304    0        0      162      1      0.0
160   56    1   1       120   240    0        1      169      0      0.0
158   58    1   1       125   220    0        1      144      0      0.4
289   55    0   0       128   205    0        2      130      1      2.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
100   42    1   3       148   244    0        0      178      0      0.8
49    53    0   0       138   234    0        0      160      0      0.0
300   68    1   0       144   193    1        1      141      0      3.4
194   60    1   2       140   185    0        0      155      0      3.0
131   49    0   1       134   271    0        1      162      0      0.0

     slope  ca  thal
61       2   0     3
238      2   3     2
160      0   0     2
158      1   4     3
289      1   1     3
..     ...  ..   ...
100      2   2     2
49       2   0     2
300      1   2     3
194      1   0     2
131      1   0     2

[242 rows x 13 columns]

In [ ]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [ ]:
print(training_data_accuracy)

0.8512396694214877

# Ant colony optimization (ACO)

In computer science and operations research, the ant colony optimization algorithm (ACO) is a probabilistic technique for solving computational problems which can be reduced to finding good paths through graphs. Artificial ants stand for multi-agent methods inspired by the behavior of real ants. The pheromone-based communication of biological ants is often the predominant paradigm used.[2] Combinations of artificial ants and local search algorithms have become a method of choice for numerous optimization tasks involving some sort of graph, e.g., vehicle routing and internet routing.

# Edge selection

Each ant needs to construct a solution to move through the graph. To select the next edge in its tour, an ant will consider the length of each edge available from its current position, as well as the corresponding pheromone level. At each step of the algorithm, each ant moves from a state {\displaystyle x}x to state {\displaystyle y}y, corresponding to a more complete intermediate solution. Thus, each ant {\displaystyle k}k computes a set {\displaystyle A_{k}(x)}A_{k}(x) of feasible expansions to its current state in each iteration, and moves to one of these in probability. For ant {\displaystyle k}k, the probability {\displaystyle p_{xy}^{k}}p_{xy}^{k} of moving from state {\displaystyle x}x to state {\displaystyle y}y depends on the combination of two values, the attractiveness {\displaystyle \eta _{xy}}\eta _{xy} of the move, as computed by some heuristic indicating the a priori desirability of that move and the trail level {\displaystyle \tau _{xy}}\tau _{xy} of the move, indicating how proficient it has been in the past to make that particular move. The trail level represents a posteriori indication of the desirability of that move.

In general, the {\displaystyle k}kth ant moves from state {\displaystyle x}x to state {\displaystyle y}y with probability

![image.png]()

# Pseudocode:



```
# Procedure AntColonyOptimization:
    Initialize necessary parameters and pheromone trials;
    while not termination do:
        Generate ant population;
        Calculate fitness values associated with each ant;
        Find best solution through selection methods;
        Update pheromone trial;
    end while
end procedure
```